@model CombinedRecipeModel

@{
    ViewData["Title"] = "Recipe Finder";
    if (Model.Recipes is null){
        Model.Recipes = new List<Recipe>();
    }
    if (Model.RecipeDTO is null)
    {
        Model.RecipeDTO = new RecipeDTO();
    }
    if (Model.RecipeDTO.Ingredients is null){
        Model.RecipeDTO.Ingredients = new List<string>();
    }
}
@functions {
    public string base64img(string base64)
    {
        return $"data: image / jpeg; base64,{base64}";
    }   
}

    <header>
        <h1 style="text-align : center">RecipeFinder</h1>
    <a asp-action="Index" asp-controller="Note" style="font-size:20px;display: flex; justify-content: center;"><b>Credits</b></a>
    </header>
    
    <div class="form-container">

        <form asp-action="FilterRecipes" method="post">
            <div >
                <label>Name</label> <br />
                <input style="width: 60% ; height : 50px ;border-radius: 15px 0px 15px 0px;" type="text" asp-for="RecipeDTO!.Name" placeholder="Recipe Name" />
            </div>
            
            <div class="Ingredients-section">
                <div class="ingredient-input">

                    <input style="border-radius: 15px 0px 0px 0px;" placeholder="Add Ingredient ..." type="text" asp-for="Ingredient" />
                    <button style="border-radius: 0px 0px 15px 0px;" type="submit" asp-action="AddIngredients">
                        Add +
                    </button>

                </div>
                <div class="ingredient-items">
                    <h4 style="text-align : left; margin-left : 7% ; ">Ingredients : </h4>
                    <ol style="display : flex ;flex-direction : row ;justify-content : space-evenly;">
                        
                            @for (int i = 0; i < Model.RecipeDTO.Ingredients.Count; i++)
                            {
                                <li>
                                    @Model.RecipeDTO.Ingredients[i] 
                                    <button style="border : 0px; background-color : transparent;" asp-action="DeleteIngredient" asp-route-ing="@Model.RecipeDTO.Ingredients[i]">
                                        ❌
                                    </button>
                                </li>
                                <input type="hidden" name="RecipeDTO.Ingredients[@i]" value="@Model.RecipeDTO.Ingredients[i]" />
                                                           
                            }
                        
                        
                    </ol>
                    

                </div>    
                
            </div>

            
            <div class="parameters">
                <div class="input-container">
                    <label for="Category">Category</label> <br />
                    <select style="width : 101%;" asp-for="RecipeDTO!.Category">

                        <option value="" selected> ----- </option>
                        <option value="Breakfast"> Breakfast</option>
                        <option value="Pasta"> Pasta</option>
                        <option value="Goat"> Goat</option>
                        <option value="Vegetarian"> Vegetarian</option>
                        <option value="Starter"> Starter</option>
                        <option value="Side"> Side</option>
                        <option value="Lamb"> Lamb</option>
                        <option value="Chicken"> Chicken</option>
                        <option value="Miscellaneous"> Miscellaneous</option>
                        <option value="Vegan"> Vegan</option>
                        <option value="Seafood"> Seafood</option>
                        <option value="Dessert"> Dessert</option>
                        <option value="Pork"> Pork</option>

                    </select>
                </div>
                
                <div class ="input-container">
                    <label for="Calories">Calories</label> <br />
                    <input style="width : 101%;" type="number" asp-for="RecipeDTO!.Calories" />

                </div>
                

                <div class="input-container">
                    <label for="Cookingtime">Cookingtime</label> <br />
                    <input style="width : 101%;" type="number" asp-for="RecipeDTO!.Cookingtime" />
                </div>
                
                <div class="input-container">
                    <label for="Sort-By">Sort By</label> <br />
                    <select style="width : 101%;" asp-for="RecipeDTO!.SortBy">
                        <option value="@RecipeSortingOptions.Name" selected> Name </option>
                        <option value="@RecipeSortingOptions.Calories"> Calories </option>
                        <option value="@RecipeSortingOptions.Cookingtime"> Cookingtime </option>
                        <option value="@RecipeSortingOptions.IngredientsCount"> IngredientsCount </option>
                    </select>

                </div>
                
                <div class="input-container">
                    <label for="Ascending">Ascending</label> <br />
                    <select style="width : 101%;" asp-for="RecipeDTO!.Asc">
                        <option value="true" selected > True </option>
                        <option value="false"> False </option>
                    </select>

                </div>
                
            </div>
            <button type="submit">Submit</button>
        </form>
        
    </div> <br />
<hr style="width : 80%; margin : auto; border: 2px solid black;"><br />
    @if (Model.Recipes.Any()){
     
    <div class="result">
        <h2>Results : </h2>
        <h4>There is @Model.Recipes.Count Recipes available</h4><br /><br />
        <table>   
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Calories</th>
                    <th>CookingTime</th>
                    <th>Serving</th>
                    <th>Category</th>
                    <th>YoutubeUrl</th>
                    <th>Instructions</th>                    
                    <th>Ingredients</th>
                    <th>Image</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var recipe in Model.Recipes)
                {
                    <tr>
                        <td>@recipe.Name</td>
                        <td>@recipe.Calories</td>
                        <td>@recipe.Cookingtime</td>
                        <td>@recipe.Servings</td>
                        <td>@recipe.Category</td>
                        <td><a target="_blank" href="@recipe.YoutubeUrl">YoutubeLink</a></td>
                        <td>
                            <div class="scrollable">
                                @recipe.Instructions
                        
                            </div>
                        </td>
                        <td class="scrollable">
                            <div>
                                <ol>
                                    @foreach (var ingred in @recipe.Ingredients!)
                                    {
                                        <li style="margin-left : 5px ;">
                                            <b>@ingred!.Quantity - @ingred.Name</b>
                                        </li>
                                    }
                                </ol>
                            </div>                       
                        </td>
                        <td><img class = "Photo" loading="lazy" src="@base64img(@recipe.Image!)" /></td>
                    </tr>                 
                }
            </tbody>           
        </table> 
    </div>
    }
    else{
        <h4 style="text-align : center">No Recipes Available </h4>
    }
